:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.saran a {
    color: #4E4E4E;
    font-family: 'Roboto', sans-serif;
}

.saran h3 {
    font-size: 17px;
}

.saran h3:hover {
    text-decoration: underline;
}

/* navbar disini */

.kontainer-nav {
    position: fixed;
    background-color: #ff6961;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all .5s ease;
    z-index: 1;
}


nav {
    width: 1200px;
    height: 50px;
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    cursor: default;
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
}

nav h1 {
    margin-top: 5px;
    font-family: sans-serif;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-top: 8px;
    margin-right: 35px;
}

nav ul, nav button {
    font-family: 'Poppins', sans-serif;
}   

nav button {
    width: 100px;
    padding: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.8rem;
}

nav button:hover {
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
}

nav button:active {
    color: black;
    background-color: white;
}

#navigasi {
    margin-left: -50px;
    transition: all .5s ease;
    padding-left: 600px;
}

#navigasi a {
    position: relative;
    color:#000;
}

#navigasi a::after {
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

#navigasi a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.bungkus-bawah {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 67px;
    width: 100%;
    z-index: 200;
    background-color: #ffd8b1;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .25);
}

.bawah {
    display: flex;
    justify-content: space-between;
    width: 1330px;
    color: #4D4D4D;
    padding: 7px;
}

.bawah:hover {
    cursor: default;
}

.bawah a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #4D4D4D;
}

.bawah img {
    width: 20px;
    margin-bottom: -5px;
}

.bawah select:hover {
    cursor: pointer;
}

.bawah select:hover {
    cursor: pointer;
}

#logo {
    text-decoration: none;
}

/* navbar selesai */

/* pembungkus */
.parent {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.child {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    height: 100%;
}

/* daftar isi kiri */

.bungkus-saran {
    position: sticky;
    top: 100px;
    margin-top: 2px;
    margin-bottom: 0;
}

.saran {
    margin-top: 0;
    margin-left: 0;
    overflow: scroll;
    width: 320px;
    height: 87vh;
}

.saran a:hover {
    text-decoration: underline;
}

.saran h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px   ;
}

.saran img {
    width: 7px;
    margin-right: 5px;
}

.saran {
    list-style: url(../../images/segitiga.png);
}

.saran ul {
    margin-left: 30px;
    line-height: 19px;
    font-size: 14px;
}

.saran ul li {
    margin-bottom: 15px
}


/* daftar isi kanan*/

aside.kanan {
    background-color: #eee;
}

.daftar-isi {
    margin-left: 40px;
    width: 300px;
    position: sticky;
    top: 140px;
}

.daftar-isi h2 {
    font-family: 'Roboto', sans-serif;
    color: #1B1B1B;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.list {
    display: inline-table;
    border-left: 2px solid grey;
}

.list p {
    font-family: 'Roboto', sans-serif;
    color: #4D4D4D;
    font-size: 14px;
    margin: 20px 0 0 25px;
}

.list a {
    text-decoration: none;
}

.daftar-isi .list a p:hover {
    color: #1A73E8;
}

/* artikel */
.bungkus-artikel {
    margin: 37px;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.bungkus-artikel h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.bungkus-artikel p {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    margin-bottom: 50px;
}

.bungkus-artikel .bungkus_kotak {
    background-color: #F9F9FB;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
}

article a {
    text-decoration: underline;
    color: #1A73E8;
}

a:hover {
    text-decoration: none;
}

.kotak {
    margin: 30px 40px 30px 30px;
}

.kotak h2 {
    font-size: 1.1rem;
    font-family: 'PT Sans Narrow', sans-serif;
}

.kotak p {
    font-size: 15px;
}

.kotak a {
    font-weight: bold;
}

.bungkus_kotak {
    margin-bottom: 45px;
}

article ul {
    margin-left: 30px;
    margin-bottom: 30px;
}

article ul li {
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.bungkus-kotak {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    margin-bottom: 60px;
}

.bungkus-kotak p {
    font-size: 17px;
}

article h3 {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 16px;
}

.tutorial p {
    margin-left: 30px;
}

.handap h2 {
    font-size: 30px;
}

/* komentar */
.bungkus-komentar {
    display: flex;
    justify-content: center;
}

.komentar {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 70px;
    width: 1368px;
}

.komentar h3 {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.komentar a.hias-komentar {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.komentar h2 {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
}


.kotak-kanan {
    margin-left: 90px;
    margin-top: 7px;
}

.kotak-kanan span {
    font-size: 14px;
    color: #F5F5F5;
    background: #66b2ff;
    border-radius: 25px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.kotak-kanan img {
    width: 200px;
    margin-bottom: 15px;
}

.kotak-kanan div {
    margin-bottom: 50px
}

#website-kami {
    border-bottom: red solid 2px;
}

.plek {
    display: flex;
}

.bagian-komentar {
    margin-top: 17px;
    margin-left: 15px;
}

.bagian-komentar p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}

.bintang {
    color: red;
    font-size: 20px;
    margin: 0;
}

.komentar form {
    font-family: 'PT Sans', sans-serif;
}

.komentar input {
    font-size: 15px;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 300px;
}

.komentar input:focus {
    outline: none;
}

.komentar textarea {
    margin-bottom: 15px;
    resize: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.komentar textarea:focus {
    outline: none;
}

.komentar .hapus, .komentar .kirim {
    width: 70px;
    float: right;
    margin-left: 15px;
    border-radius: 25px;
}

.komentar .hapus:hover, .komentar .kirim:hover {
    cursor: pointer;
}

.komentar .kirim {
    width: 150px;
    background-color: #ff6961;
}

.komentar .kirim:hover {
    background-color: #fedcaf;
}

.pertama, .kedua {
    border-radius: 5px;
    width: 290px;
    box-shadow: 0 0 2px black;
    padding: 25px;
}

.pertama:hover h2, .kedua:hover h2 {
    color: #0033cc;
}

.pertama p, .kedua p , .pertama h2, .kedua h2{
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0;
}

.kotak-kanan p {
    font-size: 14px;
    color: black;
}

.kotak-kanan h2 {
    letter-spacing: 0;
    color: black;
}

.kotak-kanan img {
    width: 100%;
    border-radius: 5px;
}

.kotak-kanan h2:hover {
    color: #7b52ab;
}


/* newsletter */
.bungkus-newsletter {
    display: flex;
    justify-content: center;
    background-color: #66b2ff;
    margin-top: 40px;
}

.parent-newsletter {
    margin-top: 60px;
    margin-bottom: 60px;
    border-top: 8px solid black;
    background-color: whitesmoke;
}

.newsletter {
    margin: 80px 30px 30px 30px;
    width: 500px;
}

.newsletter h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.newsletter .keterangan {
	margin-bottom: 30px;
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.newsletter form {
	margin-bottom: 5px;
}

.newsletter form input[type="email"] {
	padding: 7px;
	width: 290px;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	outline: 2px solid black;
	border: none;
	margin-top: 2px
}

.newsletter form input[type="submit"] {
    margin-left: 8px;
    border: none;
    background-color: black;
    color: whitesmoke;
    width: 120px;
    height: 37px;
    font-family: 'Roboto', sans-serif;
    outline: 2px solid black;
    font-size: 15px;
}

.newsletter form input[type="submit"]:hover {
	background-color: whitesmoke;
	color: #000000;
	cursor: pointer;
    outline: 2px solid black;
}

.newsletter form input[type="submit"]:active {
    background-color: black;
    color: whitesmoke;
}

.newsletter p {
	font-family: 'Poppins', sans-serif;
	font-size: 10px; 
    font-weight: 600;
}

/* footer */
#bungkus-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #ff6961;
    margin-top: 80px;
}

#container-footer {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #ff6961;
}

footer {
    width: 1200px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.kaki {
    width: 98%;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.kaki a {
    text-decoration: none;
}

.kaki a:hover {
    animation: zoom ease-in-out .5s infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.produk a {
    color: #000;
    display: block;
    line-height: 40px;
}

.informasi a {
    color: #000;
    display: block;
    line-height: 40px;
}

.hubungikami a {
    color: #000;
    display: block;
    line-height: 40px;
}

h3 {
    color: #000;
    font-size: bold;
}

.footimage {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: -5px;
}

.kopirek {
    margin-top: 80px;
    text-align: center;
    padding-bottom: 30px;
    color: #000;
}

/* login popup css */

.bungkus-login {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(3px);
    transform: scale(0);
    z-index: 500;
}

.bungkus-login.active-btn{
    transform: scale(1);
}

.key{
    font-size: 24px;
}

.btn-popup {
    border: none;
    width: 100px;
    height: 50px;
    background: black;
    color: whitesmoke;
    border-radius: 5px;
    border: thin solid grey;
}

.btn-popup:hover {
    cursor: pointer;
    background: whitesmoke;
    color: black;
}

.btn-popup:active {
    background: black;
    color: whitesmoke;
}

.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#fff,#aaa);
    width: 400px;
    height: 440px;
    border: 3px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
    overflow: hidden;
    transform: scale(0);
    transition: transform .33s ease, height .3s ease;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 80%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: .2s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    position: absolute;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transform: translateX(400px);
    transition: .2s ease;
}

.wrapper.active .form-box.register {
    position: absolute;
    transform: translateX(0);
}

.wrapper.active-btn {
    transform: scale(1);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #000;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 13px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #000;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #000;
    margin-right: 3px;
}

.remember-forgot a {
    color: #000;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline
}

.btn-submit {
    width: 100%;
    height: 45px;
    background: #000;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
}

.login-register {
    font-size: .9em;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #000;
    text-decoration: none;
    font-size: .97em;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.register-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.login-link:hover {
    cursor: pointer;
    text-decoration: underline;
}