:root {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

@font-face {
    font-family: core-sans;
    src: url(../font/CoreSansC-45Regular.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
}

*,
body,
html {
    scroll-behavior: smooth;
    margin: 0;
}

.kontainer-nav {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all .5s ease;
}

.kontainer-nav.scrolled {
    background-color: #ff6961;
    transition: all .5s ease;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .25);
}

.kontainer-nav.scrolled2 {
    margin-top: -75px;
}

nav {
    width: 1200px;
    height: 50px;
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    cursor: default;
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
}

nav h1 {
    margin-top: 5px;
    font-family: sans-serif;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-top: 8px;
    margin-right: 35px;
}

nav ul,
nav button {
    font-family: 'Poppins', sans-serif;
}

nav button {
    width: 100px;
    padding: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.8rem;
}

nav button:hover {
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
}

nav button:active {
    color: black;
    background-color: white;
}

#navigasi {
    margin-left: -50px;
    transition: .5s ease;
}

#navigasi.scrolled1 {
    padding-left: 600px;
}

#navigasi a {
    position: relative;
    color: #000;
}

#navigasi a::after {
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

#navigasi a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* navbar selesai */

header {
    height: 535px;
    display: flex;
    justify-content: center;
    padding-top: 125px;
    background-color: #FEDCAF;
}

header h1 {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    line-height: 55px;
}

header p {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    margin-bottom: 14px;
    margin-left: 0;
}

#judul {
    width: 600px;
    float: left;
}

#judul button {
    width: 225px;
    height: 60px;
    padding: 20px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(160, 68, 160);
}

#judul button:hover {
    cursor: pointer;
    background-color: rgb(163, 43, 163);
}

#gambar {
    width: 600px;
    float: right;
}

/* header selesai */

#kategori {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 75px;
}

#bungkus-perkenalan {
    display: flex;
    justify-content: center;
}

#perkenalan {
    width: 1200px;
}

#perkenalan h1 {
    margin-top: -60px;
    margin-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
}

#perkenalan p {
    margin-left: 0;
    margin-bottom: 25px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 23px;
}

#bungkus-pelajaran {
    display: flex;
    justify-content: center;
}

#container-pelajaran {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
}

#container-pelajaran a {
    text-decoration: none;
    color: black;
}

#container-pelajaran h1 {
    font-family: 'Roboto', sans-serif;
}

#container-pelajaran h2,
p {
    margin: 20px;
}

#container-pelajaran h2 {
    font-family: 'Noto Sans', sans-serif;
    color: #3F3F41;
    font-size: 17px;
}

#container-pelajaran p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #515252;
}

#container-pelajaran img {
    width: 50px;
    margin: 20px;
    margin-right: 0;
}

.bungkus-logo {
    display: flex;
    align-items: center;
}

#pemrograman-dasar,
#frontend-developer,
#backend-developer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    height: 370px;
    border: 1px solid #D1D1D2;
    border-radius: 5px;
}

#pemrograman-dasar:hover,
#frontend-developer:hover,
#backend-developer:hover {
    border: 1px solid black;
}

.bawah {
    width: 210px;
    margin: 20px;
    margin-left: 0;
}

.bawah:hover {
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #E3EEFC;
}


#button-wrap {
    display: flex;
    justify-content: center;
}

#bungkus-button {
    width: 1145px;
}

#kategori button {
    margin-top: 30px;
    padding: 13px;
    font-size: 14px;
    border-radius: 25px;
    border: 2px solid #D1D1D2;
    background-color: #f8f8fb;
}

#kategori button:hover {
    background-color: #E6E6E6;
    cursor: pointer;
}

/* newsletter */
.bungkus-newsletter {
    background-color: #66b2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
}

.daleman {
    padding: 25px;
    background-color: whitesmoke;
    border-radius: 25px;
    border: 1px solid black;
}

.newsletter {
    display: flex;
    justify-content: center;
    width: 600px;
    background-color: whitesmoke;
    margin: 20px;
}

.kata-kata {
    margin: 20px;
    margin-top: -7px;
    width: 430px;
}

.kata-kata h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    color: #4D4D4D;
}

.kata-kata p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #4D4D4D;
    line-height: 25px;
    margin: 15px 10px 0 0px;
}

.news-induk {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.news-induk .news {
    width: 180px;
    margin-bottom: 17px;
    border-radius: 25px;
    border: solid 1px gray;
    padding: 8px;
}

.kotak {
    display: flex;
    width: inherit;
    margin-top: -10px;
}

.box {
    width: 15px;
    margin-left: 7px;
    margin-top: -15px;
}

.kotak p {
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: #4D4D4D;
    font-size: 12px;
}

.kirim {
    background-color: #007AFF;
    color: whitesmoke;
    font-size: 15px;
    width: 100px;
    padding: 12px 10px;
    border-radius: 25px;
    border: none;
}

.kirim:hover {
    cursor: pointer;
    background-color: #0067d4;
}

/* !footer */
#container-footer {
    display: flex;
    justify-content: center;
    background-color: #ff6961;
}

footer {
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.kaki {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.kaki a {
    text-decoration: none;
}

@keyframes zoom { /*!animasi hover footer*/
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.kaki a:hover {
    animation: zoom ease-in-out .5s infinite;
}

.produk a, .informasi a, .hubungikami a {
    display: block;
}

.produk a {
    color: #000;
    line-height: 40px;
}

.informasi a {
    color: #000;
    line-height: 40px;
}

.hubungikami a {
    color: #000;
    line-height: 40px;
}

.footimage {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: -5px;
}

.kopirek {
    font-weight: 700;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 30px;
    color: #000;
}

/* !login popup css */

.bungkus-login {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(3px);
    transform: scale(0);
}

.bungkus-login.active-btn {
    transform: scale(1);
}

.key {
    font-size: 24px;
}

.btn-popup {
    border: none;
    width: 100px;
    height: 50px;
    background: black;
    color: whitesmoke;
    border-radius: 5px;
    border: thin solid grey;
}

.btn-popup:hover {
    cursor: pointer;
    background: whitesmoke;
    color: black;
}

.btn-popup:active {
    background: black;
    color: whitesmoke;
}

.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#fff, #aaa);
    width: 400px;
    height: 440px;
    border: 3px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
    overflow: hidden;
    transform: scale(0);
    transition: transform .33s ease, height .3s ease;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 80%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: .2s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    position: absolute;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transform: translateX(400px);
    transition: .2s ease;
}

.wrapper.active .form-box.register {
    position: absolute;
    transform: translateX(0);
}

.wrapper.active-btn {
    transform: scale(1);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #000;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 13px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #000;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #000;
    margin-right: 3px;
}

.remember-forgot a {
    color: #000;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline
}

.btn-submit {
    width: 100%;
    height: 45px;
    background: #000;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
}

.login-register {
    font-size: .9em;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #000;
    text-decoration: none;
    font-size: .97em;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.register-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.login-link:hover {
    cursor: pointer;
    text-decoration: underline;
}