*,
body,
html {
    margin: 0;
}

/* navbar */
header {
    background-color: #134E4A;
    height: 100px;
    display: flex;
    justify-content: center;
}

header nav {
    height: 50px;
    justify-content: center;
    background-color: red;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li  a {
    color: #F5F5F5;
}
