* {
    margin: 0;
    padding: 0;
}

/* menu navigasi */

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CDCDCD;
    background-color: white;
}

nav:hover {
    cursor: default;
}

nav h1 {
    font-family: sans-serif;
    display: inline-flex;
    color: black;
    margin: 15px;
}

nav ul {
    list-style: none;
    display: inline-flex;
    margin: 10px;
}

nav ul a {
    text-decoration: none;
    color: #4D4D4D;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

nav ul a:hover {
    color: #1A73E8;
    background-color: #E3EEFC;
    border-radius: 5px;
}

.nav-kanan {
    display: flex;
    align-items: center;
}

.nav-kanan a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    font-size: 12px;
}

.nav-kanan a:hover {
    text-decoration: underline;
}

.nav-kanan a:active {
    text-decoration: none;
}

.nav-kanan button {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    margin: 0 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.nav-kanan button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.nav-kanan button:active {
    color: white;
    background-color: #000000;
}

.bawah {
    border-bottom: 1px solid #CDCDCD; 
    color: #4D4D4D;
    background-color: whitesmoke;
    position: sticky;   
    top: 63px;
    padding: 7px;
}

.bawah a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #4D4D4D;
}

.bawah img {
    width: 20px;
    margin-bottom: -5px;
}

/* artikel */
.bungkus-artikel {
    display: flex;
    justify-content: center;
}
article {
    width: 700px;
}

article h1 {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    color: #1B1B1B;
    font-weight: bolder;
    margin-bottom: 40px;
}

article h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    color: #1B1B1B;
}

article h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 30px;
}

article p {
    color: #1B1B1B;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}

article a {
    color: #1A73E8;
    font-family: 'Open Sans', sans-serif;
}

article a:hover {
    text-decoration: none;
}

article blockquote {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #1B1B1B;
}

.masalah {
    width: inherit;
    border: 1px solid grey;
    display: inline-table;
    padding: 25px;
}

.masalah h2 {
    font-size: 25px;
    color: #1B1B1B;
}

.masalah a {
    display: flex;
    align-items: center;
}

.masalah a p {
    margin-bottom: 0;
    margin-left: 0;
    color: #1A73E8;
}

.masalah p.bawah {
    display: flex;
    margin-left: -6px;
    margin-bottom: 0;
    color: #1B1B1B;
}

.masalah .bawah a {
    color: #1A73E8;
    text-decoration: underline;
}

.masalah .bawah a:hover {
    text-decoration: none;
}