* {
    margin: 0;
    padding: 0;
}

/* navbar disini */

.bungkus-nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #CDCDCD;
}

nav {
    width: 1360px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    
}

nav:hover {
    cursor: default;
}

nav h1 {
    font-family: sans-serif;
    display: inline-flex;
    color: black;
    margin: 15px;
}

nav ul {
    list-style: none;
    display: inline-flex;
    margin: 10px;
}

nav ul a {
    text-decoration: none;
    color: #4D4D4D;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

nav ul a:hover {
    color: #1A73E8;
    background-color: #E3EEFC;
    border-radius: 5px;
}

.nav-kanan {
    display: flex;
    align-items: center;
}

.nav-kanan a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    font-size: 12px;
}

.nav-kanan a:hover {
    text-decoration: underline;
}

.nav-kanan a:active {
    text-decoration: none;
}

.nav-kanan button {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    margin: 0 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.nav-kanan button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.nav-kanan button:active {
    color: white;
    background-color: #000000;
}

.bungkus-bawah {
    display: flex;
    justify-content: center;
    position: sticky;   
    top: 63px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 1px solid #CDCDCD;
}

.bawah {
    display: flex;
    justify-content: space-between;
    width: 1330px;
    color: #4D4D4D;
    padding: 7px;
}

.bawah:hover {
    cursor: default;
}

.bawah a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #4D4D4D;
}

.bawah img {
    width: 20px;
    margin-bottom: -5px;
}

.bawah select:hover {
    cursor: pointer;
}

.bawah select:hover {
    cursor: pointer;
}

#logo{
    text-decoration: none;
}